

/* GLOBAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

.bold
{
    font-weight: bolder;
}

.light
{
    font-weight: 200;
}


/* -------- BODY -------- */

body
{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


/* -------- HEADER -------- */

.header-section
{
    background-color: var(--header-section-bgcolor);
    height: 100px;
    width: 100vw;
    display: flex;
    color: var(--header-text-fontcolor);
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    padding: 25px;
}

.header-section h1
{
    font-size: 30px;
    font-family: monospace;
}

.header-section .logo-container p
{
    color: var(--header-slogan-fontcolor);
}

.header-information-container
{
    display: flex;
    gap: 25px;
}

.header-info
{
    display: flex;
    gap: 10px;
}


.header-information-container .header-info div.phone, 
.header-information-container .header-info div.email, 
.header-information-container .header-info div.location 
{
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 5px;
    flex-shrink: 0;
}

.header-information-container .header-info div.phone img,
.header-information-container .header-info div.email img,
.header-information-container .header-info div.location img
{
    width: 100%;
    height: 100%;
    padding: 7px;
}

.phone-info-container,
.mail-info-container,
.location-info-container
{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.phone-info-container p.info-value,
.mail-info-container p.info-value,
.location-info-container p.info-value
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-wrap: nowrap;
}


.phone-info-container p.info-title,
.mail-info-container p.info-title,
.location-info-container p.info-title
{
    color: var(--header-info-title-fontcolor);
    font-size: 14px;
}


/* -------- SUB-HEADER -------- */

.sub-header-section
{
    background-color: var(--subheader-section-bgcolor);
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-container ul
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
}

.links-container ul li a.link
{
    color: var(--subheader-links-fontcolor);
    text-decoration: none;
    font-size: 20px;
}

.logos-container
{
    display: flex;
    gap: 5px;

}

.socials-logo
{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.socials-logo img
{
    width: 100%;
    height: 100%;
}

/* -------- HERO -------- */

.hero-section
{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-image: url("../images/hero-dour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

.hero-section h1,
.hero-section p,
.hero-section div.learnmore-button-container
{
    z-index: 1;
}

.hero-section h1
{
    font-size: 70px;
    text-align: center;
    color: var(--hero-maintext-fontcolor);
    line-height: 1;
    flex-shrink: 5;
    text-wrap: nowrap;

}

.hero-section p
{
    font-weight: 300;
    color: var(--hero-subtext-fontcolor);
    line-height: 1.5;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 15px;
}

.learnmore-button-container
{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.learnmore-button
{
    width: 100%;
    height: 100%;
    background-color: var(--hero-button-bgcolor);
    border: none;
    font-size: 18px;
    color: var(--hero-button-fontcolor);
    font-weight: bolder;
    transition: 1s;
}

.learnmore-button:hover
{
    border-radius: 5px;
    color: var(--hero-button-fontcolor-hover );
}

/* -------- SERVICES --------  */

.services-section
{
    width: 100vw;
    height: 400px;
    background-color: var(--services-section-bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.services-info-container
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;

}

.services-text h2
{
    color: var(--services-header-fontcolor);
    font-size: 35px;
    line-height: 0.8;
    transition: 0.5s ease all;
}

.services-text p
{
    margin-top: 5px;
    color: var(--services-para-fontcolor);
    line-height: 1;
    transition: 0.5s ease all;
}

.services-button-container button
{
    width:  200px;
    height: 50px;
    background-color: transparent;
    color: var(--services-button-fontcolor);
    border: 2px solid var(--services-button-bordercolor);
    transition: 0.5s;
}

.services-button-container button:hover,
.services-info-container .services-text h2:hover,
.services-info-container .services-text p:hover
{
    color: var(--services-button-fontcolor-hover);
}

.services-button-container button:hover
{
    border: 2px solid var(--services-button-bordercolor-hover);
}

.services-boxes-container
{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.service-card
{
    width: 320px;
    height: 150px;
    background-color: var(--services-card-bgcolor);
    padding: 25px;
    display: flex;
    gap: 15px;
    padding: 20px;
}

.service-icon-container
{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.service-icon-container img
{
    width: 100%;
    height: 100%;
}

.service-card-info-container
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.service-card .service-card-info-container h3
{
    color: var(--services-card-title-fontcolor);
}

.service-card .service-card-info-container p
{
    line-height: 1;
    color: var(--services-card-para-fontcolor );
}