
/* VARIABLES */

:root{

    /* ---- COLORS ---- */
    --header-section-bgcolor : #1D2D50 ;
    --header-text-fontcolor : #FFFFFF ;
    --header-slogan-fontcolor : #ebe6e6 ;
    --header-info-title-fontcolor : #ebe6e6 ;
    
    --subheader-section-bgcolor : #FF6B35 ;
    --subheader-links-fontcolor : #FFFFFF ;

    --hero-maintext-fontcolor : #FFFFFF;
    --hero-subtext-fontcolor : #cccccc;
    --hero-button-bgcolor : #FF6B35;
    --hero-button-fontcolor : #FFFFFF;
    --hero-button-fontcolor-hover : #1D2D50;

    --services-section-bgcolor : #FF6B35 ;
    --services-header-fontcolor : #FFFFFF ;
    --services-para-fontcolor : #FFFFFF  ;
    --services-button-fontcolor : #FFFFFF ;
    --services-button-fontcolor-hover : #1D2D50 ;
    --services-button-bordercolor : #FFFFFF ;
    --services-button-bordercolor-hover : #1D2D50;
    --services-card-bgcolor : #1D2D50;
    --services-card-title-fontcolor : #FFFFFF;
    --services-card-para-fontcolor : #cccccc;

    --quote-section-bgcolor : #FFFFFF ;
    --quote-main-text-fontcolor : #000000 ;
    --quote-attribution-text-fontcolor : #9c9a9a ;

    --works-section-bgcolor :#FFFFFF ;

    --contact-section-bgcolor : #FFFFFF;
    --contact-section-form-bordercolor : #1D2D50 ;
    --contact-section-input-bordercolor : grey;
    --contact-section-message-button-bgcolor : #FF6B35;
    --contact-section-message-button-fontcolor : #FFFFFF;
    --contact-section-message-button-bordercolor-hover : grey;
    --contact-ai-title-fontcolor : grey ;
    
}