
/* VARIABLES */

:root{

    /* ---- COLORS ---- */
    --header-section-bgcolor : #1D2D50 ;
    --header-text-fontcolor : #FFFFFF ;
    --header-slogan-fontcolor : #ebe6e6 ;
    --header-info-title-fontcolor : #ebe6e6 ;
    
}